<%= form_for [@article, Comment.new] do |f| %>
  <div class="form-line">

    <%= f.text_area :content, placeholder: "Comment... ", class: 'form-controller', required: true, :rows => 4, :cols => 100 %>
    <br />
    <%= f.submit "Comment", class: "btn btn-primary" %>
  </div>
<% end %>
